MSMART_ACCOUNT=
MSMART_PASSWORD=
MSMART_REGION=DE
MIDEA_ACCOUNT_CLOUD=NetHome Plus
MIDEA_DEVICE_IP=
MIDEA_DEVICE_PORT=6444
MIDEA_DISCOVERY_TARGET=255.255.255.255
MIDEA_DEVICE_ID=
MIDEA_DEVICE_TOKEN=
MIDEA_DEVICE_KEY=
